<div class="board-header">
  <div class="board-name-div">
<!--    <span class="board-name-span">Nazwa tablicy</span>-->
    <input class="board-name-input" (focusout)="changeBoardName($event)"  value="{{boardName}}">
  </div>
</div>
<div class="board-canvas">
<div id="boadr" class="u-fancy-scrollbar">
<!--  tu się zaczynają listy-->
  <div class="list-wrapper" *ngFor="let cardList of allCardLists">
    <div class="list">
      <div class="list-header">
        <textarea class="mod-list-name"  spellcheck="false" dir="auto" maxlength="512" style="overflow: hidden; overflow-wrap: break-word; height: 28px;">{{cardList.name}}</textarea>
        <div class="list-cards"></div>
        <div class="card-composer-container">
          <a class="open-card-composer card-templates-enabled" href="#">Dodaj kolejną kartę</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


