<div class="board-header">
  <div class="board-name-div">
    <input class="board-name-input" (focusout)="changeBoardName($event)" value="{{boardName}}">
  </div>
</div>
<div class="board-canvas">
  <div id="board" class="u-fancy-scrollbar">
    <!--  tu się zaczynają listy-->
    <div class="list-wrapper" *ngFor="let cardList of allCardLists">
      <div class="list">
        <div class="list-header">
          <input class="mod-list-name" spellcheck="false" dir="auto" maxlength="512"
                 style="overflow: hidden; overflow-wrap: break-word; height: 28px;" value="{{cardList.name}}">
          <div class="list-cards"></div>
          <div class="list-cards u-fancy-scrollbar u-clearfix js-list-cards js-sortable ui-sortable">
            <a class="list-card js-member-droppable ui-droppable" href="#"
               *ngFor="let cardsAtCardList of mapOfCardsAtThisBoard?.get(cardList.id)">
              <div class="list-card-details js-card-details">
                CardlistID : {{cardList.id}}
                {{cardsAtCardList.name}}
                CardID : {{cardsAtCardList.id}}
              </div>
            </a>
          </div>
          <div class="card-composer-container">
            <a class="open-card-composer card-templates-enabled" href="#">Dodaj kolejną kartę</a>
          </div>
        </div>
      </div>
    </div>
    <div class="js-add-list list-wrapper mod-add">
      <form [formGroup]="newListOfCardsNameForm" (ngSubmit)="addNewListOfCards()">
        <input class="list-name-input" type="text" formControlName="newListOfCardsName"
               placeholder="Wprowadź tytuł listy"
               autocomplete="off" maxlength="512">
        <div class="list-add-controls">
          <button type="submit" class="btn btn-success">Dodaj listę</button>
        </div>
      </form>
    </div>

  </div>
</div>


