<app-navbar></app-navbar>

<div class="board-header">
  <span class="board-name-div">
    <input class="board-name-input" (focusout)="changeBoardName($event)" value="{{boardName}}">
  </span>
  <span *ngIf="thisBoard">
    <span *ngIf="thisBoard.archived == false">
      <button class="btn btn-danger btn-sm" style="margin: 0.2rem" (click)="archiveBoard()">Archiwizuj tablicę</button>
    </span>
    <span *ngIf="thisBoard.archived == true">
      <button class="btn btn-info btn-sm" style="margin: 0.2rem" (click)="unarchiveBoard()">Odarchiwizuj tablicę</button>
    </span>
    <button class="btn btn-danger btn-sm" style="margin: 0.2rem" (click)="deleteBoard()">Usuń tablicę</button>
  </span>
</div>
<div class="board-canvas">
  <div id="board" class="u-fancy-scrollbar-main">
    <!--  tu się zaczynają listy-->
    <div class="list-wrapper" *ngFor="let cardList of allCardLists">
      <div class="list">
        <div class="list-header">
          <input class="mod-list-name" spellcheck="false" dir="auto" maxlength="512"
                 style="overflow: hidden; overflow-wrap: break-word; height: 28px;" value="{{cardList.name}}">
          <div class="list-cards"></div>
          <div class="list-cards u-fancy-scrollbar u-clearfix js-list-cards js-sortable ui-sortable">
            <div class="list-card js-member-droppable ui-droppable"
                 *ngFor="let cardsAtCardList of mapOfCardsAtThisBoard?.get(cardList.id)">
              <div class="list-card-details js-card-details">
                <h4>{{cardsAtCardList.name}}</h4>
              </div>
              <button class="btn btn-sm btn-outline-info" routerLink="/card-details/{{cardsAtCardList.id}}">Szczegóły
              </button>
              <img src="../../../assets/delete-icon.png" style="float:right; cursor: pointer" width="25" height="25"
                   alt="Usuń" (click)="deleteCardById(cardsAtCardList.id)">
            </div>

          </div>
          <div class="card-composer-container">
            <div class="list-card">
              <form [formGroup]="newCardForm" (ngSubmit)="addNewCardToCardListById(cardList.id)">
                <div class="list-card-details u-clearfix">
                <textarea formControlName="newCardName" class="list-card-composer-textarea js-card-title" dir="auto"
                          placeholder="Wprowadź tytuł dla tej karty…"
                          style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 54px;"></textarea>
                </div>
                <div class="list-add-controls">
                  <button type="submit" class="btn btn-success">Dodaj kartę</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="js-add-list list-wrapper mod-add">
      <form [formGroup]="newListOfCardsNameForm" (ngSubmit)="addNewListOfCards()">
        <input class="list-name-input" type="text" formControlName="newListOfCardsName"
               placeholder="Wprowadź tytuł listy"
               autocomplete="off" maxlength="512">
        <div class="list-add-controls">
          <button type="submit" class="btn btn-success">Dodaj listę</button>
        </div>
      </form>
    </div>

  </div>
</div>

