<div class="component-content">
  <h2>Tablice:</h2>

  <div class="boards">
    <div routerLink="/board/{{board.id}}" *ngFor="let board of allBoards" class="one-board">
      <div class="board-name">{{board.name}}</div>
    </div>
    <div class="create-board" data-toggle="modal" data-target="#createBoardModal"><p>Utwórz nową tablicę</p></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createBoardModal" tabindex="-1" role="dialog" aria-labelledby="createBoardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wprowadź nazwę nowej tablicy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input #boardName type="text" class="form-control" placeholder="Wprowadź nazwę...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createTable(boardName.value)">Utwórz
          tablicę!
        </button>
      </div>
    </div>
  </div>
</div>
