.component-content{
  width: 50%;
  margin: 2rem auto;
}

.boards{
  width: 70rem;
}

.create-board{
  width: 12rem;
  height: 6rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  display: flex;
  cursor: pointer;
}

.create-board:hover{
  background-color: #eaeaea;
}

.create-board p {
  margin: auto;
}

.one-board{
  width: 12rem;
  height: 6rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  background-color: lightcyan;
}

.board-name{
  padding: 0.5rem;
}
