<app-navbar></app-navbar>

<div class="container">

  <h2>Tytuł etykiety</h2>
  <input #labelNamee value="{{labelName}}">

  <H2>Wybierz Kolor</H2>
  <select matNativeControl required #labelColor>
    <option value="green">green</option>
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="aqua">aqua</option>
    <option value="fuchsia">Fuchsia</option>
  </select>
  <br>
  <br>
  <button *ngIf="jwtToken != undefined" class="btn btn-primary" (click)="editLabel(labelNamee.value, labelColor.value)">Edytuj</button>
  <button *ngIf="jwtToken != undefined" class="btn btn-danger" (click)="deleteLabel()">Usuń</button>
</div>
