@import '~ngx-toastr/toastr';

@media (min-width: 992px) {
  .component-content {
    width: 50%;
    margin: 2rem auto;
  }
}

@media (max-width: 992px) {
  .component-content {
    width: 90%;
    margin: 2rem auto;
  }
}
